body {
  background-color: #0b40e6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 1024px;
  height: 100vh;
}

header {
  text-align: center;
}
nav {
  text-align: center;
  padding-bottom: 14px;
  padding-top: 14px;
}

main {
  text-align: center;
  padding-top: 50px;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

footer p {
  text-decoration: none;
  font-size: 10px;
}

.logo img {
  background-position: 20px;
  width: 200px;
}

.iglogo img {
  width: 40px;
}
